body{
    font-family: Roboto, sans-serif;
}

header{
    border-bottom: 5px solid rgb(9, 196, 9);
}

.navbar{
    background-color: #135005;e;
}
#cabecalho .nav .nav-link.active{
    background-color: white;
    color: #135005;
}


#cabecalho  .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}


.navbar-toggler{
    background-color: #135005;
}

.section-title{
    font-family: 'Dancing Script', cursive;
}



#sobre-loja, #moveis{
    background-color: #bbd1b6;
}

.text-colored{
    color: #135005;
}
.text-colored-2{
    color: rgb(214, 210, 210);
    text-decoration: line-through
}

.nav-cardapio .nav-link.active, #fale-conosco button{
    background-color: #135005;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #135005;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}

.col-md-3:hover, .col-md-4:hover{
    border: 1px solid;
    border-radius: 10px;
    border-color: #a6d39b;
    padding: 5px;
}

.row .col-md-3, .col-md-4{
    margin-bottom: 20px;
}

