body{
    font-family: Roboto, sans-serif;
}

header{
    border-bottom: 5px solid rgb(9, 196, 9);
}

.navbar{
    background-color: #197005;e;
}
#cabecalho .nav .nav-link.active{
    background-color: white;
    color: #e15641;
}


#cabecalho  .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}


.navbar-toggler{
    background-color: #ffeae6;
}

.section-title{
    font-family: 'Dancing Script', cursive;
}



#sobre-o-restaurante, #cardapio{
    background-color: #ffeae6;
}

.text-colored{
    color: #0a8e27;
}

.nav-cardapio .nav-link.active, #fale-conosco button{
    background-color: #e15641;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #e15641;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}

